<div id="content-header">
  <header>
    <h1>Artemis Platform</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
</div>

