### Artemis

# Secrets
#
# Generate a secret key using command:
#
#   $ cd apps/artemis_web && mix guardian.gen.secret
#
# Copy the output below and uncomment env variable:
#
# export ARTEMIS_GUARDIAN_KEY=""
# export ARTEMIS_SECRET_KEY=""

# Users
#
# export ARTEMIS_ROOT_USER=
# export ARTEMIS_ROOT_EMAIL=
#
# export ARTEMIS_SYSTEM_USER="System User"
# export ARTEMIS_SYSTEM_EMAIL=system@artemis.dev

# Database

export ARTEMIS_POSTGRES_USER=postgres
export ARTEMIS_POSTGRES_PASS=postgres
export ARTEMIS_POSTGRES_HOST=localhost
export ARTEMIS_POSTGRES_DB=artemis

# Server

export ARTEMIS_CLUSTER_NODES="artemis01@0.0.0.0,artemis02@0.0.0.0"

### Artemis API

export ARTEMIS_API_PORT=4078

### Artemis Log

# Database

export ARTEMIS_LOG_POSTGRES_USER=postgres
export ARTEMIS_LOG_POSTGRES_PASS=postgres
export ARTEMIS_LOG_POSTGRES_HOST=localhost
export ARTEMIS_LOG_POSTGRES_DB=artemis_log

### Artemis Web

# Enabled Auth Providers
#
# Takes a list of providers: "provider1,provider2"
#
# Available providers:
#
# 	- `system_user` WARNING: development only! Enables anyone to directly log in as system user.
# 	- `github`
#
# For additional providers, see the List of UeberAuth Strategies:
# https://github.com/ueberauth/ueberauth/wiki/List-of-Strategies
#
export ARTEMIS_WEB_ENABLED_AUTH_PROVIDERS="github,system_user"
export ARTEMIS_WEB_PORT=4077

# If using `github` auth provider, follow the GitHub directions to generate
# credentials: https://developer.github.com/apps/building-oauth-apps/
#
# Then uncomment below and update with values from GitHub:
#
export ARTEMIS_WEB_GITHUB_CLIENT_ID=
export ARTEMIS_WEB_GITHUB_CLIENT_SECRET=

## Artemis Web - Authentication
#
# If using the `github` auth provider, follow the steps outlined in GitHub
# documentation to get a Client ID and secret: https://developer.github.com/apps/building-oauth-apps/
#
# export ARTEMIS_WEB_GITHUB_CLIENT_ID=
# export ARTEMIS_WEB_GITHUB_CLIENT_SECRET=

### Elixir Version

# Uncomment if using kiex
# export ELIXIR_VERSION="1.8.1"
# export PATH="$HOME/.kiex/elixirs/elixir-1.8.1/bin:$PATH"
# export MIX_ARCHIVES="$HOME/.kiex/mix/archives/elixir-1.8.1"

### NodeJS Version

export NODE_ENV="development"

# Uncomment if using nvm
# export NODE_VERSION="10.13.0"
# export PATH="$HOME/.nvm/versions/node/v$NODE_VERSION/bin:$PATH"

### Docker

# Uncomment if using docker
# export ARTEMIS_POSTGRES_HOST=db
# export ARTEMIS_LOG_POSTGRES_HOST=db
