### Atlas

# Secrets
#
# Generate a secret key using command:
#
#   $ cd apps/atlas && mix guardian.gen.secret
#
# Copy the output below and uncomment env variable:
#
# export ATLAS_GUARDIAN_KEY=""
# export ATLAS_SECRET_KEY=""

# Database

export ATLAS_POSTGRES_USER=postgres
export ATLAS_POSTGRES_PASS=postgres
export ATLAS_POSTGRES_HOST=localhost
export ATLAS_POSTGRES_DB=atlas

# Server

export ATLAS_CLUSTER_NODES="atlas01@0.0.0.0,atlas02@0.0.0.0"
export ATLAS_PORT=4077

### Elixir Version

# Uncomment if using kiex
# export ELIXIR_VERSION="1.8.1"
# export PATH="$HOME/.kiex/elixirs/elixir-1.8.1/bin:$PATH"
# export MIX_ARCHIVES="$HOME/.kiex/mix/archives/elixir-1.8.1"

### NodeJS Version

export NODE_ENV="development"

# Uncomment if using nvm
# export NODE_VERSION="10.13.0"
# export PATH="$HOME/.nvm/versions/node/v$NODE_VERSION/bin:$PATH"
