language: elixir

elixir: 1.8
otp_release: 21.0

notifications:
  email:
    on_success: never
    on_failure: never

addons:
  postgresql: "9.6"
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
    - _build
    - deps

env:
  global:
    - MIX_ENV=test

# matrix:
#   include:
#     - elixir: 1.7
#       otp_release: 20.0
#   allow_failures:
#     - elixir: 1.6
#       otp_release: 20.0

before_install:
  - sudo apt-get update
  - sudo apt-get install chromium-chromedriver
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - mix local.rebar --force
  - cp .env.travis .env
  - source .env

before_script:
  - mix do ecto.create, ecto.migrate
  - export PATH=$PATH:/usr/lib/chromium-browser/
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give Web server some time to bind to sockets, etc
  - nohup chromedriver &
  - sleep 3 # give Web server some time to bind to sockets, etc
  - bin/local/reset-tests

env:
  matrix:
    - TEST="mix test"
    - TEST="mix test --only browser"

script:
  - "${TEST}"
