<% error_class = if Keyword.get_values(@form.errors, @field) != [], do: "error" %>

<label for="<%= "#{@form.id}_#{@field}" %>" class="label-with-errors <%= error_class %>">
  <i class="ui icon warning circle red"></i>
  <%= humanize(@field) %>
  <%= error_tag(@form, @field) %>
</label>
