/* Layout */

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
}

/* Page Header */

#primary-header {
  font-size: 15px;
  padding: 0.5rem 0;
}

#primary-header .container {
  display: flex;
  justify-content: space-between;
}

#primary-header .container * {
  align-self: center;
}

#primary-header #logo {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

/* Search */

.search {
  align-self: center;
  display: flex;
}

.search button {
  margin: 0 0 0 0.75rem;
}

#primary-header .search {
  margin: 0;
  padding: 0;
}

#primary-header .search input {
  margin: 0;
  height: 3rem;
}

#primary-header .search button {
  background: #f2f2f2;
  border-color: #d2d2d2;
  color: #888;
  height: 3rem;
  line-height: 3rem;
  letter-spacing: 0;
  margin: 0 0 0 3px;
  padding: 0 2.0rem;
}

/* Primary Navigation */

#primary-navigation ul {
  display: flex;
  list-style: none;
}

#primary-navigation ul li {
  margin-right: 1rem;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  padding-right: 6px;
}

.breadcrumbs li:after {
  content: "/"
}

.breadcrumbs li:last-child:after {
  content: ""
}

/* Pagination */

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin-right: 6px;
}

/* Footer */

#primary-footer {
  background: #f8f8f8;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  margin-top: 4rem;
  margin-bottom: 0rem;
  padding: 3rem 0 0 0;
}

#primary-footer .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 2rem;
}

#primary-footer .content .about {
  font-size: 15px;
  margin-right: 24px;
}

#primary-footer .content .about p {
  margin: 1rem 0;
}

#primary-footer .content .about ul {
  margin: 1rem 0;
  padding: 0;
}

#primary-footer .content .about ul li {
  margin: 0;
  padding: 0;
}

#primary-footer-navigation {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  flex-direction: row;
}

#primary-footer-navigation .column {
  padding: 0 2rem;
}

#primary-footer-navigation .section h5 {
  font-weight: 500;
  font-size: 14px;
  margin: 24px 0 8px 0 !important;
}

#primary-footer-navigation .section:first-child h5 {
  margin-top: 0 !important;
}

#primary-footer-navigation .section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#primary-footer .footer {
  border-top: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-size: 15px;
}
